.menuList {
  $self: &;

  margin-bottom: 30px;

  &__addFolder {
    font-size: 15px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    margin-bottom: 5px;

    &:hover #{$self}__removeIcon{
      opacity: 0.25;
    }

    #{$self}__removeIcon{
      opacity: 0;

      &:hover{
        opacity: 0.85;
      }
    }

    span{
      flex: 1;
    }
    &:hover{
      background-color: rgba(255, 255, 255, 0.3);
    }
    &.active {
      background-color: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }
  svg {
    margin-right: 10px;
    color: rgb(109, 109, 109);
  }
  i {
    display: inline-flex;
    margin-right: 10px;
  }
  .badge{
    position: relative;
    left: 5px;
  }
}
